*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  top: 15%;
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  width: 100%;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01rem;
}

#random {
  display: block;
  background-color: rgba(32, 33, 36, 0.5);
  margin: 0 auto;
  padding: 1em 2em;
  border-radius: 5px;
  margin-top: 1.5em;
  font-weight: 800;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.color1,
.color2 {
  background: none;
  border: none;
  width: 5em;
  height: 3em;
  padding: 0;
}
